html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

.logo {
    width: 175px;
}

.avatar, .post-avatar {
    border-radius: 100%;
    width: 50px;
    height:fit-content;
    margin: 10px;
}

header {
    border-bottom: 2px solid #C6C6C6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

#wrapper {
    width: 550px;
    margin: 0 auto;
    border: 2px solid #EDEDED; 
}

.flex-au {
    display: flex;
    justify-content: start;
    padding: 15px;
    gap: 10px;
}

.flex-ul {
    display: flex;
    flex-direction: column;
}

.flex-ul h1, .likes {
    font-size: 20px;
}

.flex-ul h2 {
    font-weight: 400;
    font-size: 18px;
    margin-top: -5px;  
}

/* utility class 0 margin */
.margin0 {
    margin: 0;
}

.img-post {
    width: 550px;
    margin-bottom: 25px;
}

.three-icons {
    display: flex;
    gap: 23px;
    padding-left: 15px;
}

.three-icons img {
    width: 40px;
}

.likes {
    padding-left: 15px; 
    margin: 8px 0;
}


.username {
    display:inline;
}

.comment {
    line-height: 1.4;
    padding-left: 2px;
    font-size: 18px;
    font-weight: 500;
}


.user-caption {
    margin-bottom: 25px;
    padding: 0 15px;
}

.user-captionborder {
    border-bottom: solid 40px #EDEDED;
}